<div class="container__big-card">
    <a href="#">
    <div class="big-card__image">
        <img 
        src="https://picsum.photos/800/400" 
        alt="Big Card Image"
        >
    </div>
    <div class="big-card__title">
        <h1>Título da Notícia</h1>
    </div>
    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at quam nec leo facilisis tincidunt. Sed non ligula a enim facilisis aliquet.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at quam nec leo facilisis tincidunt. Sed non ligula a enim facilisis aliquet.
        </p>
    </div>
    </a>
</div>