<div class="container__small-card">
    <div class="container_small-card-content">
        <a href="#">
            <div class="small-card__image">
                <img 
                src="https://picsum.photos/400/200" 
                alt="Small Card Image"
                >
            </div>
            <div class="small-card__title">
                <h2>Título da Notícia</h2>
            </div>
        </a>
    </div>
    
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>